/* line 5, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Global */
/* line 13, ../scss/main.scss */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 18, ../scss/main.scss */
html {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  background-color: #f6f6f8;
  color: #305572;
}

/* line 25, ../scss/main.scss */
sup {
  vertical-align: super;
  font-size: 0.5em;
  text-decoration: underline;
}

/* Structure */
/* line 33, ../scss/main.scss */
.wrapper {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* line 42, ../scss/main.scss */
.header {
  -webkit-flex: 0 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: flex-start;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 2em;
}

/* line 53, ../scss/main.scss */
.mainmenu__wrapper {
  -webkit-flex: 1 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
  -webkit-justify-content: space-around;
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border-bottom: 1px solid #ceced0;
}

/* line 65, ../scss/main.scss */
.mainmenu__logo {
  -webkit-flex: 0 0 auto;
  display: -webkit-flex;
  -webkit-align-items: flex-end;
  -webkit-justify-content: flex-end;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-image: url(../img/addwine.png);
  background-size: auto;
  background-repeat: no-repeat;
  width: 189px;
  height: 50px;
  font-size: 0.9em;
}

/* line 80, ../scss/main.scss */
.mainmenu {
  -webkit-flex: 0 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
  -webkit-justify-content: flex-start;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 1em;
}

/* line 91, ../scss/main.scss */
.mainmenu__item {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 1em 1em 0.5em 1em;
  margin-right: 1em;
}

/* line 99, ../scss/main.scss */
.mainmenu__item__link {
  display: block;
  border-bottom: 2px solid #f6f6f8;
  text-decoration: none;
  color: #305572;
  padding-bottom: 0.5em;
}

/* line 107, ../scss/main.scss */
.mainmenu__item__link:hover,
.mainmenu__item__link:active {
  border-bottom: 2px solid #305572;
}

/* line 112, ../scss/main.scss */
.mainmenu__cart {
  -webkit-flex: 0 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: stretch;
  -webkit-justify-content: center;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

/* line 122, ../scss/main.scss */
.mainmenu__cart__icon {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 0.5em;
  width: 2em;
  background-image: url(../img/cart.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 134, ../scss/main.scss */
.mainmenu__cart__icon:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* line 140, ../scss/main.scss */
.simpleCart_items {
  -webkit-flex: 0 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: flex-end;
  -webkit-justify-content: flex-start;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  text-align: center;
}

/* line 151, ../scss/main.scss */
.itemRow .item-name {
  text-align: left;
}

/* line 155, ../scss/main.scss */
.headerRow {
  -webkit-flex: 0 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: stretch;
  -webkit-justify-content: flex-start;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border: 1px solid #999999;
}

/* line 166, ../scss/main.scss */
.itemRow {
  -webkit-flex: 0 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: stretch;
  -webkit-justify-content: flex-start;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border: 1px solid #999999;
}

/* line 177, ../scss/main.scss */
.item-name {
  -webkit-flex: 0 0 auto;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16em;
  overflow: auto;
}

/* line 188, ../scss/main.scss */
.item-price {
  -webkit-flex: 0 0 auto;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8em;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
}

/* line 200, ../scss/main.scss */
.item-decrement {
  -webkit-flex: 0 0 auto;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
}

/* line 211, ../scss/main.scss */
.simpleCart_decrement {
  text-decoration: none;
  color: #305572;
  font-weight: bold;
  font-size: 1.5em;
}

/* line 218, ../scss/main.scss */
.item-quantity {
  -webkit-flex: 0 0 auto;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8em;
}

/* line 228, ../scss/main.scss */
.item-increment {
  -webkit-flex: 0 0 auto;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
}

/* line 239, ../scss/main.scss */
.simpleCart_increment {
  text-decoration: none;
  color: #305572;
  font-weight: bold;
  font-size: 1.5em;
}

/* line 246, ../scss/main.scss */
.item-total {
  -webkit-flex: 0 0 auto;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8em;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
}

/* line 258, ../scss/main.scss */
.item-remove {
  -webkit-flex: 0 0 auto;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  font-size: 2em;
}

/* line 269, ../scss/main.scss */
.simpleCart_remove {
  text-decoration: none;
  color: #305572;
  font-weight: bold;
}

/* line 275, ../scss/main.scss */
.headerRow .item-increment,
.headerRow .item-decrement {
  display: none;
}

/* line 280, ../scss/main.scss */
.itemRow .item-quantity {
  width: 4em;
  border-left: 0;
  border-right: 0;
}

/* line 286, ../scss/main.scss */
.simpleCart_checkout {
  -webkit-flex: 0 1 auto;
  display: -webkit-flex;
  -webkit-align-self: flex-end;
  flex: 0 1 auto;
  display: flex;
  align-self: flex-end;
  display: inline-block;
  margin-top: 1em;
  padding: 0.5em;
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: none;
  color: #305572;
  border-radius: 5px;
  border: 2px solid #305572;
  text-transform: uppercase;
}

/* line 304, ../scss/main.scss */
.cart__wrapper {
  display: none;
}

/* line 308, ../scss/main.scss */
.cart__expanded {
  display: block;
  position: absolute;
  top: 5em;
  right: 0;
  margin: 0;
  padding: 0.5em;
  background-color: #FFFFFF;
  z-index: 3;
  border: 1px solid #d6be76;
}

/* line 320, ../scss/main.scss */
.simpleCart_quantity {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 0.5em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: 100%;
  background-color: #d6be76;
  color: #FFFFFF;
}

/* line 334, ../scss/main.scss */
.contactinfo {
  -webkit-flex: 1 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
}

/* line 346, ../scss/main.scss */
.contactinfo__orderacall {
  color: #305572;
}

/* line 350, ../scss/main.scss */
.specialoffers__wrapper {
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  height: 20em;
  width: 100%;
  position: relative;
}

/* line 359, ../scss/main.scss */
.specialoffers {
  height: 100%;
  width: 100%;
}

/* line 364, ../scss/main.scss */
.specialoffers__item {
  display: -webkit-flex;
  -webkit-flex-flow: row;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* line 377, ../scss/main.scss */
.specialoffers__item__wrapper {
  -webkit-flex: 1 1 auto;
  display: -webkit-flex;
  -webkit-flex-flow: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* line 388, ../scss/main.scss */
.specialoffers__item__text {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1em;
}

/* line 398, ../scss/main.scss */
.specialoffers__item__link {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  display: block;
  padding: 1em;
  font-size: 0.9em;
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 5px;
  border: 2px solid #FFFFFF;
  text-transform: uppercase;
}

/* line 412, ../scss/main.scss */
.specialoffers__item--1 {
  background-image: url(../img/coravin.jpg);
}

/* line 416, ../scss/main.scss */
.specialoffers__item--2 {
  background-image: url(../img/night.jpg);
}

/* line 420, ../scss/main.scss */
.specialoffers__item--3 {
  background-image: url(../img/80.jpeg);
}

/* line 424, ../scss/main.scss */
.featurehighlights {
  -webkit-flex: 1 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: flex-start;
  -webkit-justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

/* line 436, ../scss/main.scss */
.featurehighlights__item {
  -webkit-flex: 0 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: flex-start;
  -webkit-align-items: center;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 10em;
  margin: 1em;
}

/* line 448, ../scss/main.scss */
.featurehighlights__item__img {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 10em;
  margin: 1em;
}

/* line 459, ../scss/main.scss */
.featurehighlights__item__img:after {
  display: block;
  content: "";
  padding-bottom: 50%;
}

/* line 465, ../scss/main.scss */
.feature1 {
  background-image: url(../img/shield.png);
}

/* line 469, ../scss/main.scss */
.feature2 {
  background-image: url(../img/corkscrew.png);
}

/* line 473, ../scss/main.scss */
.feature3 {
  background-image: url(../img/bux.png);
}

/* line 477, ../scss/main.scss */
.feature4 {
  background-image: url(../img/person.png);
}

/* line 481, ../scss/main.scss */
.feature5 {
  background-image: url(../img/scroll.png);
}

/* line 485, ../scss/main.scss */
.feature6 {
  background-image: url(../img/delivery.png);
}

/* line 489, ../scss/main.scss */
.featurehighlights__item__text {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  text-align: center;
  color: #999999;
}

/* line 497, ../scss/main.scss */
.catalogue {
  width: 100%;
  -webkit-flex: 0 0 auto;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: flex-start;
  -webkit-flex-direction: column;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

/* line 508, ../scss/main.scss */
.catalogue__expand {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  display: block;
  padding: 1em;
  text-decoration: none;
  background-color: #d6be76;
  color: #FFFFFF;
  border-radius: 5px;
  text-transform: uppercase;
}

/* line 521, ../scss/main.scss */
.catalogue__popular__navigation {
  -webkit-flex: 0 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 1.5em 5em;
  text-align: center;
  font-weight: bold;
  color: #999999;
}

/* line 537, ../scss/main.scss */
.catalogue__popular__header {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  display: inline-block;
  padding: 0 1em;
  margin: 0;
  line-height: 1em;
}

/* line 547, ../scss/main.scss */
.stripe {
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  height: 1px;
  background-color: #999999;
}

/* line 555, ../scss/main.scss */
.catalogue__popular {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
  padding: 0 1em;
}

/* line 563, ../scss/main.scss */
.catalogue__popular__item {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1em;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin: 1em;
  box-shadow: 0 3px 3px #ceced0;
}

/* line 578, ../scss/main.scss */
.catalogue__popular__item__wrapper {
  -webkit-flex: 0 1 auto;
  display: -webkit-flex;
  -webkit-flex-flow: column;
  -webkit-align-items: center;
  -webkit-justify-content: flex-start;
  flex: 0 1 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

/* line 589, ../scss/main.scss */
.simpleCart_shelfItem {
  -webkit-flex: 0 1 auto;
  display: -webkit-flex;
  -webkit-flex-flow: column;
  -webkit-align-items: center;
  -webkit-justify-content: flex-start;
  flex: 0 1 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}

/* line 599, ../scss/main.scss */
.item_add {
  display: block;
  padding: 1em;
  font-size: 0.8em;
  text-decoration: none;
  background-color: #d6be76;
  color: #FFFFFF;
  border-radius: 5px;
  text-transform: uppercase;
}

/* line 610, ../scss/main.scss */
.item_image {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
}

/* line 616, ../scss/main.scss */
.item_name {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  margin: 1em 0;
}

/* line 623, ../scss/main.scss */
.item_price {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  margin: 0 0 1em 0;
}

/* line 630, ../scss/main.scss */
.trivia {
  -webkit-flex: 1 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: flex-start;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1em 2em;
}

/* line 641, ../scss/main.scss */
.trivia__wrapper {
  -webkit-flex: 0 1 auto;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: flex-start;
  -webkit-justify-content: flex-start;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 3px #ceced0;
}

/* line 654, ../scss/main.scss */
.trivia__item {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 100%;
  padding: 1.5em 2em;
  background-color: #FFFFFF;
}

/* line 663, ../scss/main.scss */
.trivia__header {
  color: #d6be76;
  width: 100%;
  border-bottom: 1px solid #ceced0;
  font-weight: bold;
  font-style: italic;
  background-color: #FFFFFF;
}

/* line 672, ../scss/main.scss */
.trivia__summary {
  margin-top: 1.5em;
}

/* line 676, ../scss/main.scss */
.brands {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 100%;
}

/* line 683, ../scss/main.scss */
.brands__navigation {
  -webkit-flex: 0 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 1.5em 5em;
  text-align: center;
  font-weight: bold;
  color: #999999;
}

/* line 699, ../scss/main.scss */
.brands__header {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  display: inline-block;
  padding: 0 1em;
  margin: 0;
  line-height: 1em;
}

/* line 709, ../scss/main.scss */
.stripe {
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  height: 1px;
  background-color: #999999;
}

/* line 717, ../scss/main.scss */
.brands__slider {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
  padding: 0 1em;
}

/* line 725, ../scss/main.scss */
.brands__slider__item {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin: 1em;
  box-shadow: 0 3px 3px #ceced0;
}

/* line 739, ../scss/main.scss */
.brands__slider__item__wrapper {
  background-image: url(../img/placeholder.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

/* line 747, ../scss/main.scss */
.brands__slider__item__wrapper:after {
  display: block;
  content: "";
  padding-bottom: 100%;
}

/* line 753, ../scss/main.scss */
.auxillary {
  -webkit-flex: 0 1 auto;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: stretch;
  -webkit-justify-content: space-between;
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  padding: 0 1em;
}

/* line 765, ../scss/main.scss */
.auxillary__header {
  -webkit-flex: 0 1 auto;
  -webkit-align-self: flex-start;
  flex: 0 1 auto;
  align-self: flex-start;
  padding-bottom: 1em;
  color: #999999;
}

/* line 774, ../scss/main.scss */
.auxillary__header::after {
  position: absolute;
  padding-bottom: 1em;
  color: #999999;
}

/* line 780, ../scss/main.scss */
.auxillary__catalogue {
  -webkit-flex: 1 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: flex-start;
  -webkit-justify-content: flex-start;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 20em;
  padding: 1em;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin: 1em;
  box-shadow: 0 3px 3px #ceced0;
}

/* line 796, ../scss/main.scss */
.auxillary__catalogue__wrapper {
  -webkit-flex: 1 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: flex-start;
  -webkit-justify-content: flex-start;
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

/* line 806, ../scss/main.scss */
.auxillary__catalogue__list {
  -webkit-flex: 0 1 auto;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: flex-start;
  -webkit-justify-content: flex-start;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 1em;
}

/* line 817, ../scss/main.scss */
.auxillary__catalogue__list__item {
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}

/* line 823, ../scss/main.scss */
.auxillary__catalogue__list__item__link {
  text-decoration: none;
  color: #305572;
}

/* line 828, ../scss/main.scss */
.auxillary__materials {
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  padding: 1em;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin: 1em;
  box-shadow: 0 3px 3px #ceced0;
}

/* line 839, ../scss/main.scss */
.auxillary__materials__list__item__link {
  text-decoration: none;
  color: #305572;
}

/* line 844, ../scss/main.scss */
.auxillary__subscribe {
  -webkit-flex: 0 1 auto;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: space-between;
  -webkit-align-items: center;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin: 1em;
  box-shadow: 0 3px 3px #999999;
}

/* line 859, ../scss/main.scss */
.auxillary__subscribe__textblock {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  text-align: center;
  margin: 1em 0;
}

/* line 867, ../scss/main.scss */
.auxillary__subscribe__input {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 0.8em;
  color: #999999;
  width: 100%;
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #999999;
  border-radius: 3px;
}

/* line 880, ../scss/main.scss */
.auxillary__subscribe__submit {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
  font-size: 0.7em;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #d6be76;
  border: 0;
  border-radius: 3px;
  padding: 1.5em;
  margin: 1em 0;
}

/* line 895, ../scss/main.scss */
.auxillary__subscribe__policyhint {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  text-align: left;
  font-size: 0.6em;
  color: #999999;
}

/* line 904, ../scss/main.scss */
.footer {
  -webkit-flex: 0 1 auto;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: flex-start;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #2f546f;
  background-image: linear-gradient(#2f546f, #0b2b44);
  width: 100%;
  color: #a5b3bc;
}

/* line 917, ../scss/main.scss */
.footercontacts__wrapper {
  -webkit-flex: 0 1 auto;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 2em;
  padding: 1.5em 0;
}

/* line 929, ../scss/main.scss */
.footercontacts__logo {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  background-image: url(../img/addwinedark.png);
  background-repeat: no-repeat;
  background-size: auto;
  width: 189px;
  height: 34px;
}

/* line 940, ../scss/main.scss */
.footercontacts__legal {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}

/* line 946, ../scss/main.scss */
.footercontacts__callback {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  display: block;
  padding: 1em;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #a5b3bc;
  text-transform: uppercase;
  color: #a5b3bc;
}

/* line 959, ../scss/main.scss */
.footercontacts__social {
  -webkit-flex: 0 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: flex-start;
  -webkit-align-items: center;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: right;
}

/* line 970, ../scss/main.scss */
.footercontacts__social__icon {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  display: block;
  width: 2.5em;
  height: 2.5em;
  margin-right: 1em;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

/* line 983, ../scss/main.scss */
.instagram {
  background-image: url(../img/instawhite.svg);
}

/* line 987, ../scss/main.scss */
.facebook {
  background-image: url(../img/facewhite.svg);
}

/* line 991, ../scss/main.scss */
.paymentncopy {
  -webkit-flex: 0 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 2em;
  padding: 1em 0;
  border-top: 1px solid #a5b3bc;
}

/* line 1004, ../scss/main.scss */
.designer__logo {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 3em;
  height: 3em;
  display: block;
  background-image: url(../img/toltol.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 1017, ../scss/main.scss */
.designer__name {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}

/* line 1023, ../scss/main.scss */
.payment__options {
  -webkit-flex: 1 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
  -webkit-justify-content: space-around;
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* line 1033, ../scss/main.scss */
.payment__options__item {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 4em;
  margin: 0.25em 0.5em;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 1044, ../scss/main.scss */
.payment__options__item:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* line 1050, ../scss/main.scss */
.master {
  background-image: url(../img/mastercard.svg);
}

/* line 1054, ../scss/main.scss */
.mir {
  background-image: url(../img/mir.svg);
}

/* line 1058, ../scss/main.scss */
.visa {
  background-image: url(../img/visa.svg);
}

/* line 1062, ../scss/main.scss */
.samsung {
  background-image: url(../img/samsung.svg);
}

/* line 1066, ../scss/main.scss */
.apple {
  background-image: url(../img/apple.svg);
}

/* line 1070, ../scss/main.scss */
.copy {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 16em;
}
