/* line 5, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Global */
/* line 13, ../scss/main.scss */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 18, ../scss/main.scss */
html {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  background-color: #f6f6f8;
  color: #305572;
}

/* Structure */
/* line 27, ../scss/main.scss */
.wrapper {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* line 36, ../scss/main.scss */
.header {
  -webkit-flex: 0 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: flex-start;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 2em;
}

/* line 47, ../scss/main.scss */
.mainmenu__wrapper {
  -webkit-flex: 1 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
  -webkit-justify-content: space-around;
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border-bottom: 1px solid #ceced0;
}

/* line 59, ../scss/main.scss */
.mainmenu__logo {
  -webkit-flex: 0 0 auto;
  display: -webkit-flex;
  -webkit-align-items: flex-end;
  -webkit-justify-content: flex-end;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-image: url(../img/addwine.png);
  background-size: auto;
  background-repeat: no-repeat;
  width: 189px;
  height: 50px;
  font-size: 0.9em;
}

/* line 74, ../scss/main.scss */
.mainmenu {
  -webkit-flex: 0 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
  -webkit-justify-content: flex-start;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 1em;
}

/* line 85, ../scss/main.scss */
.mainmenu__item {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 1em;
  margin-right: 1em;
}

/* line 93, ../scss/main.scss */
.mainmenu__cart {
  -webkit-flex: 0 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: stretch;
  -webkit-justify-content: center;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

/* line 103, ../scss/main.scss */
.mainmenu__cart__icon {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 0.5em;
  width: 2em;
  background-image: url(../img/cart.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 115, ../scss/main.scss */
.mainmenu__cart__icom:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* line 121, ../scss/main.scss */
.simpleCart_quantity {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 0.5em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: 100%;
  background-color: #d6be76;
  color: #FFFFFF;
}

/* line 135, ../scss/main.scss */
.contactinfo {
  -webkit-flex: 1 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
}

/* line 147, ../scss/main.scss */
.specialoffers__wrapper {
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  height: 20em;
  width: 100%;
  position: relative;
}

/* line 156, ../scss/main.scss */
.specialoffers {
  height: 100%;
  width: 100%;
}

/* line 161, ../scss/main.scss */
.specialoffers__item {
  display: -webkit-flex;
  -webkit-flex-flow: row;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* line 174, ../scss/main.scss */
.specialoffers__item__wrapper {
  -webkit-flex: 1 1 auto;
  display: -webkit-flex;
  -webkit-flex-flow: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* line 185, ../scss/main.scss */
.specialoffers__item__text {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1em;
}

/* line 195, ../scss/main.scss */
.specialoffers__item__link {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  display: block;
  padding: 1em;
  font-size: 0.9em;
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 5px;
  border: 2px solid #FFFFFF;
  text-transform: uppercase;
}

/* line 209, ../scss/main.scss */
.specialoffers__item--1 {
  background-image: url(../img/coravin.jpg);
}

/* line 213, ../scss/main.scss */
.specialoffers__item--2 {
  background-image: url(../img/night.jpg);
}

/* line 217, ../scss/main.scss */
.specialoffers__item--3 {
  background-image: url(../img/80.jpeg);
}

/* line 221, ../scss/main.scss */
.featurehighlights {
  -webkit-flex: 1 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: flex-start;
  -webkit-justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

/* line 233, ../scss/main.scss */
.featurehighlights__item {
  -webkit-flex: 0 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: flex-start;
  -webkit-align-items: center;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 10em;
  margin: 1em;
}

/* line 245, ../scss/main.scss */
.featurehighlights__item__img {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 10em;
  margin: 1em;
}

/* line 256, ../scss/main.scss */
.featurehighlights__item__img:after {
  display: block;
  content: "";
  padding-bottom: 50%;
}

/* line 262, ../scss/main.scss */
.feature1 {
  background-image: url(../img/shield.jpg);
}

/* line 266, ../scss/main.scss */
.feature2 {
  background-image: url(../img/corkscrew.png);
}

/* line 270, ../scss/main.scss */
.feature3 {
  background-image: url(../img/bux.png);
}

/* line 274, ../scss/main.scss */
.feature4 {
  background-image: url(../img/person.png);
}

/* line 278, ../scss/main.scss */
.feature5 {
  background-image: url(../img/scroll.png);
}

/* line 282, ../scss/main.scss */
.feature6 {
  background-image: url(../img/delivery.png);
}

/* line 286, ../scss/main.scss */
.featurehighlights__item__text {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  text-align: center;
  color: #999999;
}

/* line 294, ../scss/main.scss */
.catalogue {
  width: 100%;
  -webkit-flex: 0 0 auto;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: flex-start;
  -webkit-flex-direction: column;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

/* line 305, ../scss/main.scss */
.catalogue__expand {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  display: block;
  padding: 1em;
  text-decoration: none;
  background-color: #d6be76;
  color: #FFFFFF;
  border-radius: 5px;
  text-transform: uppercase;
}

/* line 318, ../scss/main.scss */
.catalogue__popular__navigation {
  -webkit-flex: 0 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 1.5em 5em;
  text-align: center;
  font-weight: bold;
  color: #999999;
}

/* line 334, ../scss/main.scss */
.catalogue__popular__header {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  display: inline-block;
  padding: 0 1em;
  margin: 0;
  line-height: 1em;
}

/* line 344, ../scss/main.scss */
.stripe {
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  height: 1px;
  background-color: #999999;
}

/* line 352, ../scss/main.scss */
.catalogue__popular {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
  padding: 0 1em;
}

/* line 360, ../scss/main.scss */
.catalogue__popular__item {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1em;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin: 1em;
  box-shadow: 0 3px 3px #ceced0;
}

/* line 375, ../scss/main.scss */
.catalogue__popular__item__wrapper {
  -webkit-flex: 0 1 auto;
  display: -webkit-flex;
  -webkit-flex-flow: column;
  -webkit-align-items: center;
  -webkit-justify-content: flex-start;
  flex: 0 1 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

/* line 386, ../scss/main.scss */
.simpleCart_shelfItem {
  -webkit-flex: 0 1 auto;
  display: -webkit-flex;
  -webkit-flex-flow: column;
  -webkit-align-items: center;
  -webkit-justify-content: flex-start;
  flex: 0 1 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}

/* line 396, ../scss/main.scss */
.item_add {
  display: block;
  padding: 1em;
  font-size: 0.8em;
  text-decoration: none;
  background-color: #d6be76;
  color: #FFFFFF;
  border-radius: 5px;
  text-transform: uppercase;
}

/* line 407, ../scss/main.scss */
.item_image {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
}

/* line 413, ../scss/main.scss */
.item_name {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  margin: 1em 0;
}

/* line 420, ../scss/main.scss */
.item_price {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  margin: 0 0 1em 0;
}

/* line 427, ../scss/main.scss */
.trivia {
  -webkit-flex: 1 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: flex-start;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1em 2em;
}

/* line 438, ../scss/main.scss */
.trivia__wrapper {
  -webkit-flex: 0 1 auto;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: flex-start;
  -webkit-justify-content: flex-start;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 3px #ceced0;
}

/* line 451, ../scss/main.scss */
.trivia__item {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 100%;
  padding: 1.5em 2em;
  background-color: #FFFFFF;
}

/* line 460, ../scss/main.scss */
.trivia__header {
  color: #d6be76;
  width: 100%;
  border-bottom: 1px solid #ceced0;
  font-weight: bold;
  font-style: italic;
  background-color: #FFFFFF;
}

/* line 469, ../scss/main.scss */
.trivia__summary {
  margin-top: 1.5em;
}

/* line 473, ../scss/main.scss */
.brands {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 100%;
}

/* line 480, ../scss/main.scss */
.brands__navigation {
  -webkit-flex: 0 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 1.5em 5em;
  text-align: center;
  font-weight: bold;
  color: #999999;
}

/* line 496, ../scss/main.scss */
.brands__header {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  display: inline-block;
  padding: 0 1em;
  margin: 0;
  line-height: 1em;
}

/* line 506, ../scss/main.scss */
.stripe {
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  height: 1px;
  background-color: #999999;
}

/* line 514, ../scss/main.scss */
.brands__slider {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
  padding: 0 1em;
}

/* line 522, ../scss/main.scss */
.brands__slider__item {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin: 1em;
  box-shadow: 0 3px 3px #ceced0;
}

/* line 536, ../scss/main.scss */
.brands__slider__item__wrapper {
  background-image: url(../img/placeholder.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

/* line 544, ../scss/main.scss */
.brands__slider__item__wrapper:after {
  display: block;
  content: "";
  padding-bottom: 100%;
}

/* line 550, ../scss/main.scss */
.auxillary {
  -webkit-flex: 0 1 auto;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: stretch;
  -webkit-justify-content: space-between;
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  padding: 0 1em;
}

/* line 562, ../scss/main.scss */
.auxillary__catalogue {
  -webkit-flex: 1 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: flex-start;
  -webkit-justify-content: flex-start;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 20em;
  padding: 1em;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin: 1em;
  box-shadow: 0 3px 3px #ceced0;
}

/* line 578, ../scss/main.scss */
.auxillary__catalogue__wrapper {
  -webkit-flex: 1 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: flex-start;
  -webkit-justify-content: flex-start;
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

/* line 588, ../scss/main.scss */
.auxillary__catalogue__list {
  -webkit-flex: 0 1 auto;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: flex-start;
  -webkit-justify-content: flex-start;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1em;
}

/* line 599, ../scss/main.scss */
.auxillary__catalogue__list__item {
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}

/* line 605, ../scss/main.scss */
.auxillary__materials {
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  padding: 1em;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin: 1em;
  box-shadow: 0 3px 3px #ceced0;
}

/* line 616, ../scss/main.scss */
.auxillary__subscribe {
  -webkit-flex: 0 1 auto;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: space-between;
  -webkit-align-items: center;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin: 1em;
  box-shadow: 0 3px 3px #999999;
}

/* line 631, ../scss/main.scss */
.auxillary__subscribe__textblock {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  text-align: center;
  margin: 1em 0;
}

/* line 639, ../scss/main.scss */
.auxillary__subscribe__input {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 0.8em;
  color: #999999;
  width: 100%;
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #999999;
  border-radius: 3px;
}

/* line 652, ../scss/main.scss */
.auxillary__subscribe__submit {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
  font-size: 0.7em;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #d6be76;
  border: 0;
  border-radius: 3px;
  padding: 1.5em;
  margin: 1em 0;
}

/* line 667, ../scss/main.scss */
.auxillary__subscribe__policyhint {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  text-align: left;
  font-size: 0.6em;
  color: #999999;
}

/* line 676, ../scss/main.scss */
.auxillary__header {
  -webkit-flex: 0 1 auto;
  -webkit-align-self: flex-start;
  flex: 0 1 auto;
  align-self: flex-start;
  padding-bottom: 1em;
  color: #999999;
}

/* line 685, ../scss/main.scss */
.footer {
  -webkit-flex: 0 1 auto;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: flex-start;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  background-color: #2f546f;
  color: #a5b3bc;
}

/* line 697, ../scss/main.scss */
.footercontacts__wrapper {
  -webkit-flex: 0 1 auto;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 2em;
  padding: 1.5em 0;
}

/* line 709, ../scss/main.scss */
.footercontacts__logo {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  background-image: url(../img/addwinedark.png);
  background-repeat: no-repeat;
  background-size: auto;
  width: 189px;
  height: 34px;
}

/* line 720, ../scss/main.scss */
.footercontacts__legal {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}

/* line 726, ../scss/main.scss */
.footercontacts__callback {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  display: block;
  padding: 1em;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #a5b3bc;
  text-transform: uppercase;
  color: #a5b3bc;
}

/* line 739, ../scss/main.scss */
.footercontacts__social {
  -webkit-flex: 0 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: flex-start;
  -webkit-align-items: center;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: right;
}

/* line 750, ../scss/main.scss */
.footercontacts__social__icon {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  display: block;
  width: 2.5em;
  height: 2.5em;
  margin-right: 1em;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

/* line 763, ../scss/main.scss */
.instagram {
  background-image: url(../img/instawhite.svg);
}

/* line 767, ../scss/main.scss */
.facebook {
  background-image: url(../img/facewhite.svg);
}

/* line 771, ../scss/main.scss */
.paymentncopy {
  -webkit-flex: 0 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 2em;
  padding: 1em 0;
  border-top: 1px solid #a5b3bc;
}

/* line 784, ../scss/main.scss */
.designer__logo {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 3em;
  height: 3em;
  display: block;
  background-image: url(../img/toltol.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 797, ../scss/main.scss */
.designer__name {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}

/* line 803, ../scss/main.scss */
.payment__options {
  -webkit-flex: 1 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
  -webkit-justify-content: space-around;
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* line 813, ../scss/main.scss */
.payment__options__item {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 4em;
  margin: 0.25em 0.5em;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 824, ../scss/main.scss */
.payment__options__item:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* line 830, ../scss/main.scss */
.master {
  background-image: url(../img/mastercard.svg);
}

/* line 834, ../scss/main.scss */
.mir {
  background-image: url(../img/mir.svg);
}

/* line 838, ../scss/main.scss */
.visa {
  background-image: url(../img/visa.svg);
}

/* line 842, ../scss/main.scss */
.samsung {
  background-image: url(../img/samsung.svg);
}

/* line 846, ../scss/main.scss */
.apple {
  background-image: url(../img/apple.svg);
}

/* line 850, ../scss/main.scss */
.copy {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 16em;
}

/* line 857, ../scss/main.scss */
.headerRow {
  -webkit-flex: 0 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: stretch;
  -webkit-justify-content: flex-start;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}

/* line 867, ../scss/main.scss */
.itemRow {
  -webkit-flex: 0 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: stretch;
  -webkit-justify-content: flex-start;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}

/* line 880, ../scss/main.scss */
.item-name {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  border: 1px solid black;
  width: 16em;
  overflow: auto;
}

/* line 888, ../scss/main.scss */
.item-price {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 8em;
  border: 1px solid black;
}

/* line 895, ../scss/main.scss */
.item-decrement {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 2em;
  border: 1px solid black;
}

/* line 902, ../scss/main.scss */
.item-quantity {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 8em;
  border: 1px solid black;
}

/* line 909, ../scss/main.scss */
.item-increment {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 2em;
  border: 1px solid black;
}

/* line 916, ../scss/main.scss */
.item-total {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 8em;
  border: 1px solid black;
}

/* line 923, ../scss/main.scss */
.item-remove {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 5em;
  border: 1px solid black;
}
