@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?11ie26');
  src:  url('../fonts/icomoon.eot?11ie26#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?11ie26') format('truetype'),
    url('../fonts/icomoon.woff?11ie26') format('woff'),
    url('../fonts/icomoon.svg?11ie26#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Slick Slider
 * --------------------------------------- */

/* Navigation containers and positioning
 * --------------------------------------- */

.slick-list {
    height: 100%;
}

.slick-track {
    height: 100%;
}

.slick-prev {
    position: absolute;
    left: 2rem;
    top: 50%;
    transform: translateY(-50%);
}

.slick-next {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
}

.slick-dots {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    height: 2rem;
    list-style: none;
    position: absolute;
    bottom: 1em;
    text-align: center;
    width: 100%;
}

.slick-dots li {
    flex: 0 1 auto;
    width: 2rem;
    height: 2rem;
    margin: 0 0rem;
    padding: 0;
    cursor: pointer;
}

/* Button styling
 * --------------------------------------- */

.slick-prev,
.slick-next,
.slick-dots li button {
    font-size: 0;
    line-height: 2rem;
    display: block;
    width: 2rem;
    height: 2rem;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    color: transparent;
    outline: none;
    background: transparent;
    z-index: 1000;
}

.slick-dots li button {
    position: relative;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus,
.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

/* Button symbols
 * --------------------------------------- */

.slick-dots li button:before {
    font-family: 'FontAwesome';
    line-height: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    color: rgba(255, 255, 255, 0.8);
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'icomoon';
  line-height: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  color: rgba(255, 255, 255, 0.8);
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev:before,
.slick-next:before {
    font-size: 2rem;
}

.slick-dots li button:before {
    font-size: 1rem;
}

.slick-prev:before {
    opacity: 1;
    content: "\ea44";
}

.slick-next:before {
    opacity: 1;
    content: "\ea42";
}

.slick-dots li button:before {
    opacity: .65;
    content: "\f111";
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
    content: "\f111";
    color: #d6be76;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    content: "\f111";
    color: #d6be76;
}

.brands__navigation .slick-prev:before,
.catalogue__popular__navigation .slick-prev:before {
    opacity: 1;
    content: "\ea44";
    color: #999999;
}

.brands__navigation .slick-next:before,
.catalogue__popular__navigation .slick-next:before {
    opacity: 1;
    content: "\ea42";
    color: #999999;
}
