@import "compass/reset";
@import "compass/css3/flexbox";

$bgcolor: #f6f6f8;
$khaki: #d6be76;
$lgray: #ceced0;
$dgray: #999999;
$bgray: #a5b3bc;
$navy: #305572;

/* Global */

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  background-color: $bgcolor;
  color: $navy;
}

sup {
  vertical-align: super;
  font-size: 0.5em;
  text-decoration: underline;
}

/* Structure */

.wrapper {
  @include flexbox((
    display: flex,
    flex-direction: column,
    align-items: center,
    justify-content: flex-start
  ));
}

.header {
  @include flexbox((
    flex: 0 0 auto,
    display: flex,
    flex-direction: column,
    align-items: center,
    justify-content: flex-start
  ));
  padding: 0 2em;
}

.mainmenu__wrapper {
  @include flexbox((
    flex: 1 0 auto,
    display: flex,
    flex-direction: row,
    align-items: center,
    justify-content: space-around
  ));
  width: 100%;
  border-bottom: 1px solid $lgray;
}

.mainmenu__logo {
  @include flexbox((
    flex: 0 0 auto,
    display: flex,
    align-items: flex-end,
    justify-content: flex-end
  ));
  background-image: url(../img/addwine.png);
  background-size: auto;
  background-repeat: no-repeat;
  width: 189px;
  height: 50px;
  font-size: 0.9em;
}

.mainmenu {
  @include flexbox((
    flex: 0 0 auto,
    display: flex,
    flex-direction: row,
    align-items: center,
    justify-content: flex-start
  ));
  margin: 1em;
}

.mainmenu__item {
  @include flexbox((
    flex: 0 0 auto
  ));
  padding: 1em 1em 0.5em 1em;
  margin-right: 1em;
}

.mainmenu__item__link {
  display: block;
  border-bottom: 2px solid $bgcolor;
  text-decoration: none;
  color: $navy;
  padding-bottom: 0.5em;
}

.mainmenu__item__link:hover,
.mainmenu__item__link:active {
  border-bottom: 2px solid $navy;
}

.mainmenu__cart {
  @include flexbox((
    flex: 0 0 auto,
    display: flex,
    flex-direction: row,
    align-items: stretch,
    justify-content: center
  ));
}

.mainmenu__cart__icon {
  @include flexbox((
    flex: 0 0 auto
  ));
  margin: 0.5em;
  width: 2em;
  background-image: url(../img/cart.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.mainmenu__cart__icon:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.simpleCart_items {
  @include flexbox((
    flex: 0 0 auto,
    display: flex,
    flex-direction: column,
    align-items: flex-end,
    justify-content: flex-start
  ));
  text-align: center;
}

.itemRow .item-name {
  text-align: left;
}

.headerRow {
  @include flexbox((
    flex: 0 0 auto,
    display: flex,
    flex-direction: row,
    align-items: stretch,
    justify-content: flex-start
  ));
  border: 1px solid $dgray;
}

.itemRow {
  @include flexbox((
    flex: 0 0 auto,
    display: flex,
    flex-direction: row,
    align-items: stretch,
    justify-content: flex-start
  ));
  border: 1px solid $dgray;
}

.item-name {
  @include flexbox((
    flex: 0 0 auto,
    display: flex,
    align-items: center,
    justify-content: center
  ));
  width: 16em;
  overflow: auto;
}

.item-price {
  @include flexbox((
    flex: 0 0 auto,
    display: flex,
    align-items: center,
    justify-content: center
  ));
  width: 8em;
  border-left: 1px solid $dgray;
  border-right: 1px solid $dgray;
}

.item-decrement {
  @include flexbox((
    flex: 0 0 auto,
    display: flex,
    align-items: center,
    justify-content: center
  ));
  width: 2em;
  height: 2em;
}

.simpleCart_decrement {
  text-decoration: none;
  color: $navy;
  font-weight: bold;
  font-size: 1.5em;
}

.item-quantity {
  @include flexbox((
    flex: 0 0 auto,
    display: flex,
    align-items: center,
    justify-content: center
  ));
  width: 8em;
}

.item-increment {
  @include flexbox((
    flex: 0 0 auto,
    display: flex,
    align-items: center,
    justify-content: center
  ));
  width: 2em;
  height: 2em;
}

.simpleCart_increment {
  text-decoration: none;
  color: $navy;
  font-weight: bold;
  font-size: 1.5em;
}

.item-total {
  @include flexbox((
    flex: 0 0 auto,
    display: flex,
    align-items: center,
    justify-content: center
  ));
  width: 8em;
  border-left: 1px solid $dgray;
  border-right: 1px solid $dgray;
}

.item-remove {
  @include flexbox((
    flex: 0 0 auto,
    display: flex,
    align-items: center,
    justify-content: center
  ));
  width: 2em;
  font-size: 2em;
}

.simpleCart_remove {
  text-decoration: none;
  color: $navy;
  font-weight: bold;
}

.headerRow .item-increment,
.headerRow .item-decrement {
  display: none;
}

.itemRow .item-quantity {
  width: 4em;
  border-left: 0;
  border-right: 0;
}

.simpleCart_checkout {
  @include flexbox((
    flex: 0 1 auto,
    display: flex,
    align-self: flex-end
  ));
  display: inline-block;
  margin-top: 1em;
  padding: 0.5em;
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: none;
  color: $navy;
  border-radius: 5px;
  border: 2px solid $navy;
  text-transform: uppercase;
}

.cart__wrapper {
  display: none;
}

.cart__expanded {
  display: block;
  position: absolute;
  top: 5em;
  right: 0;
  margin: 0;
  padding: 0.5em;
  background-color: #FFFFFF;
  z-index: 3;
  border: 1px solid $khaki;
}

.simpleCart_quantity {
  @include flexbox((
    flex: 0 0 auto,
  ));
  margin: 0.5em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: 100%;
  background-color: $khaki;
  color: #FFFFFF;
}

.contactinfo {
  @include flexbox((
    flex: 1 0 auto,
    display: flex,
    flex-direction: row,
    align-items: center,
    justify-content: space-between
  ));
  width: 100%;
  padding: 1em;
}

.contactinfo__orderacall {
  color: $navy;
}

.specialoffers__wrapper {
  @include flexbox((
    flex: 1 0 auto,
  ));
  height: 20em;
  width: 100%;
  position: relative;
}

.specialoffers {
  height: 100%;
  width: 100%;
}

.specialoffers__item {
  @include flexbox((
  display: flex,
  flex-flow: row,
  align-items: center,
  justify-content: center
  ));
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.specialoffers__item__wrapper {
  @include flexbox((
  flex: 1 1 auto,
  display: flex,
  flex-flow: column,
  align-items: center,
  justify-content: center
  ));
  height: 100%;
}

.specialoffers__item__text {
  @include flexbox((
  flex: 0 1 auto
  ));
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1em;
}

.specialoffers__item__link {
  @include flexbox((
    flex: 0 1 auto
  ));
  display: block;
  padding: 1em;
  font-size: 0.9em;
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 5px;
  border: 2px solid #FFFFFF;
  text-transform: uppercase;
}

.specialoffers__item--1 {
  background-image: url(../img/coravin.jpg);
}

.specialoffers__item--2 {
  background-image: url(../img/night.jpg);
}

.specialoffers__item--3 {
  background-image: url(../img/80.jpeg);
}

.featurehighlights {
  @include flexbox((
    flex: 1 0 auto,
    display: flex,
    flex-direction: row,
    align-items: flex-start,
    justify-content: space-between,
    flex-wrap: wrap
  ));
    width: 100%;
}

.featurehighlights__item {
  @include flexbox((
    flex: 0 0 auto,
    display: flex,
    flex-direction: column,
    justify-content: flex-start,
    align-items: center
  ));
  width: 10em;
  margin: 1em;
}

.featurehighlights__item__img {
  @include flexbox((
    flex: 0 0 auto
  ));
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 10em;
  margin: 1em;
}

.featurehighlights__item__img:after {
  display: block;
  content: "";
  padding-bottom: 50%;
}

.feature1 {
  background-image: url(../img/shield.png);
}

.feature2 {
  background-image: url(../img/corkscrew.png);
}

.feature3 {
  background-image: url(../img/bux.png);
}

.feature4 {
  background-image: url(../img/person.png);
}

.feature5 {
  background-image: url(../img/scroll.png);
}

.feature6 {
  background-image: url(../img/delivery.png);
}

.featurehighlights__item__text {
  @include flexbox((
    flex: 0 0 auto
  ));
  text-align: center;
  color: $dgray;
}

.catalogue {
  width: 100%;
  @include flexbox((
    flex: 0 0 auto,
    display: flex,
    align-items: center,
    justify-content: flex-start,
    flex-direction: column
  ));
}

.catalogue__expand {
  @include flexbox((
    flex: 0 0 auto
  ));
  display: block;
  padding: 1em;
  text-decoration: none;
  background-color: $khaki;
  color: #FFFFFF;
  border-radius: 5px;
  text-transform: uppercase;
}

.catalogue__popular__navigation {
  @include flexbox((
    flex: 0 0 auto,
    display: flex,
    flex-direction: row,
    align-items: center,
    justify-content: space-between
  ));
  position: relative;
  width: 100%;
  padding: 1.5em 5em;
  text-align: center;
  font-weight: bold;
  color: $dgray;
}

.catalogue__popular__header{
  @include flexbox((
    flex: 0 0 auto
  ));
  display: inline-block;
  padding: 0 1em;
  margin: 0;
  line-height: 1em;
}

.stripe {
  @include flexbox((
    flex: 1 0 auto
  ));
  height: 1px;
  background-color: $dgray;
}

.catalogue__popular {
  @include flexbox((
    flex: 0 0 auto
  ));
  width: 100%;
  padding: 0 1em;
}

.catalogue__popular__item {
  @include flexbox((
  display: flex,
  flex-direction: column,
  align-items: center,
  justify-content: center
  ));
  height: 100%;
  padding: 1em;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin: 1em;
  box-shadow: 0 3px 3px $lgray;
}

.catalogue__popular__item__wrapper {
  @include flexbox((
  flex: 0 1 auto,
  display: flex,
  flex-flow: column,
  align-items: center,
  justify-content: flex-start
  ));
  text-align: center;
}

.simpleCart_shelfItem {
  @include flexbox((
  flex: 0 1 auto,
  display: flex,
  flex-flow: column,
  align-items: center,
  justify-content: flex-start
  ));
}

.item_add {
  display: block;
  padding: 1em;
  font-size: 0.8em;
  text-decoration: none;
  background-color: $khaki;
  color: #FFFFFF;
  border-radius: 5px;
  text-transform: uppercase;
}

.item_image {
  @include flexbox((
  flex: 0 1 auto,
  ));
}

.item_name {
  @include flexbox((
  flex: 0 1 auto,
  ));
  margin: 1em 0;
}

.item_price {
  @include flexbox((
  flex: 0 1 auto,
  ));
  margin: 0 0 1em 0;
}

.trivia {
  @include flexbox((
    flex: 1 0 auto,
    display: flex,
    flex-direction: column,
    align-items: center,
    justify-content: flex-start
  ));
  padding: 1em 2em;
}

.trivia__wrapper {
  @include flexbox((
    flex: 0 1 auto,
    display: flex,
    flex-direction: column,
    align-items: flex-start,
    justify-content: flex-start
  ));
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 3px $lgray;
}

.trivia__item {
  @include flexbox((
    flex: 0 1 auto,
  ));
  width: 100%;
  padding: 1.5em 2em;
  background-color: #FFFFFF;
}

.trivia__header {
  color: $khaki;
  width: 100%;
  border-bottom: 1px solid $lgray;
  font-weight: bold;
  font-style: italic;
  background-color: #FFFFFF;
}

.trivia__summary {
  margin-top: 1.5em;
}

.brands {
  @include flexbox((
    flex: 0 1 auto
  ));
  width: 100%;
}

.brands__navigation {
  @include flexbox((
    flex: 0 0 auto,
    display: flex,
    flex-direction: row,
    align-items: center,
    justify-content: space-between
  ));
  position: relative;
  width: 100%;
  padding: 1.5em 5em;
  text-align: center;
  font-weight: bold;
  color: $dgray;
}

.brands__header{
  @include flexbox((
    flex: 0 0 auto
  ));
  display: inline-block;
  padding: 0 1em;
  margin: 0;
  line-height: 1em;
}

.stripe {
  @include flexbox((
    flex: 1 0 auto
  ));
  height: 1px;
  background-color: $dgray;
}

.brands__slider {
  @include flexbox((
    flex: 0 0 auto
  ));
  width: 100%;
  padding: 0 1em;
}

.brands__slider__item {
  @include flexbox((
  display: flex,
  flex-direction: column,
  align-items: center,
  justify-content: center
  ));
  padding: 1em;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin: 1em;
  box-shadow: 0 3px 3px $lgray;
}

.brands__slider__item__wrapper {
  background-image: url(../img/placeholder.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.brands__slider__item__wrapper:after {
  display: block;
  content: "";
  padding-bottom: 100%;
}

.auxillary {
  @include flexbox((
    flex: 0 1 auto,
    display: flex,
    flex-direction: row,
    align-items: stretch,
    justify-content: space-between
  ));
  width: 100%;
  padding: 0 1em;
}

.auxillary__header {
  @include flexbox((
    flex: 0 1 auto,
    align-self: flex-start
  ));
  padding-bottom: 1em;
  color: $dgray;
}

.auxillary__header::after {
  position: absolute;
  padding-bottom: 1em;
  color: $dgray;
}

.auxillary__catalogue {
  @include flexbox((
    flex: 1 0 auto,
    display: flex,
    flex-direction: column,
    align-items: flex-start,
    justify-content: flex-start
  ));
  width: 20em;
  padding: 1em;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin: 1em;
  box-shadow: 0 3px 3px $lgray;
}

.auxillary__catalogue__wrapper {
  @include flexbox((
    flex: 1 0 auto,
    display: flex,
    flex-direction: row,
    align-items: flex-start,
    justify-content: flex-start
  ));
}

.auxillary__catalogue__list {
  @include flexbox((
    flex: 0 1 auto,
    display: flex,
    flex-direction: column,
    align-items: flex-start,
    justify-content: flex-start
  ));
  margin-right: 1em;
}

.auxillary__catalogue__list__item {
  @include flexbox((
    flex: 1 0 auto
  ));
}

.auxillary__catalogue__list__item__link {
  text-decoration: none;
  color: $navy;
}

.auxillary__materials {
  @include flexbox((
    flex: 1 0 auto
  ));
  padding: 1em;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin: 1em;
  box-shadow: 0 3px 3px $lgray;
}

.auxillary__materials__list__item__link {
  text-decoration: none;
  color: $navy;
}

.auxillary__subscribe {
  @include flexbox((
    flex: 0 1 auto,
    display: flex,
    flex-direction: column,
    justify-content: space-between,
    align-items: center
  ));
  padding: 1em;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin: 1em;
  box-shadow: 0 3px 3px $dgray;
}

.auxillary__subscribe__textblock {
  @include flexbox((
    flex: 0 1 auto
  ));
  text-align: center;
  margin: 1em 0;
}

.auxillary__subscribe__input {
  @include flexbox((
    flex: 1 1 auto
  ));
  font-size: 0.8em;
  color: $dgray;
  width: 100%;
  margin: 1em 0;
  padding: 1em;
  border: 1px solid $dgray;
  border-radius: 3px;
}

.auxillary__subscribe__submit {
  @include flexbox((
    flex: 1 1 auto
  ));
  width: 100%;
  font-size: 0.7em;
  font-weight: bold;
  color: #FFFFFF;
  background-color: $khaki;
  border: 0;
  border-radius: 3px;
  padding: 1.5em;
  margin: 1em 0;
}

.auxillary__subscribe__policyhint {
  @include flexbox((
    flex: 0 1 auto
  ));
  text-align: left;
  font-size: 0.6em;
  color: $dgray;
}

.footer {
  @include flexbox((
    flex: 0 1 auto,
    display: flex,
    flex-direction: column,
    justify-content: flex-start
  ));
  background-color: #2f546f;
  background-image: linear-gradient(#2f546f, #0b2b44);
  width: 100%;
  color: $bgray;
}

.footercontacts__wrapper {
  @include flexbox((
    flex: 0 1 auto,
    display: flex,
    flex-direction: row,
    align-items: center,
    justify-content: space-between
  ));
  margin: 0 2em;
  padding: 1.5em 0;
}

.footercontacts__logo {
  @include flexbox((
    flex: 0 0 auto
  ));
  background-image: url(../img/addwinedark.png);
  background-repeat: no-repeat;
  background-size: auto;
  width: 189px;
  height: 34px;
}

.footercontacts__legal {
  @include flexbox((
    flex: 0 0 auto
  ));
}

.footercontacts__callback {
  @include flexbox((
    flex: 0 0 auto
  ));
  display: block;
  padding: 1em;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid $bgray;
  text-transform: uppercase;
  color: $bgray;
}

.footercontacts__social {
  @include flexbox((
    flex: 0 0 auto,
    display: flex,
    flex-direction: row,
    justify-content: flex-start,
    align-items: center
  ));
  text-align: right;
}

.footercontacts__social__icon {
  @include flexbox((
    flex: 0 0 auto,
  ));
  display: block;
  width: 2.5em;
  height: 2.5em;
  margin-right: 1em;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.instagram {
  background-image: url(../img/instawhite.svg);
}

.facebook {
  background-image: url(../img/facewhite.svg);
}

.paymentncopy {
  @include flexbox((
    flex: 0 0 auto,
    display: flex,
    flex-direction: row,
    align-items: center,
    justify-content: space-between
  ));
  margin: 0 2em;
  padding: 1em 0;
  border-top: 1px solid $bgray;
}

.designer__logo {
  @include flexbox((
    flex: 0 0 auto
  ));
  width: 3em;
  height: 3em;
  display: block;
  background-image: url(../img/toltol.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.designer__name {
  @include flexbox((
    flex: 0 0 auto
  ));
}

.payment__options {
  @include flexbox((
    flex: 1 0 auto,
    display: flex,
    flex-direction: row,
    align-items: center,
    justify-content: space-around
  ));
}

.payment__options__item {
  @include flexbox((
    flex: 0 0 auto,
  ));
  width: 4em;
  margin: 0.25em 0.5em;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.payment__options__item:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.master {
  background-image: url(../img/mastercard.svg);
}

.mir {
  background-image: url(../img/mir.svg);
}

.visa {
  background-image: url(../img/visa.svg);
}

.samsung {
  background-image: url(../img/samsung.svg);
}

.apple {
  background-image: url(../img/apple.svg);
}

.copy {
  @include flexbox((
    flex: 0 0 auto,
  ));
  width: 16em;
}
